body {
    background-color: rgb(13,13,13);
    color: rgb(0,255,0);
    font-family: monospace;
    max-width: 430px;
    margin:auto;
}

dt {
    display:inline-block;
}

dt:after {
    content: " :: ";
    color: rgb(0,255,0);
}

dl > dl {
    margin-left: 2em;
    margin-top: 0.1em;
    font-size: 0.9em;
}

dd {
    margin-left: 1em;
}

input[type="file"]{
    display: none;
}

.selected {
    border: 2px red solid;
    margin-top: 4px;
    margin-bottom:1px;
    margin-left:0px;
    padding-top:6px;
}

.value {
    color: rgb(0,180,32);
}
.key {
    color: rgb(0,180,90)
}
.persona {
    color: rgb(90,180,0)
}

.warning {
    font-size: 1.2em;
    color: rgb(128,64,0);
    margin:auto;
}

#meta {
    height: 90px;
}

#verifier {
    font-size: 0.5em;
    color: rgb(128,0,0);
    display: inline-block;
    float: right;
    height: 90px;
    width: 90px;
}

#credentials_container button {
    font-size: 0.7em;
    float: right;
    margin: 0px 2px;
    padding: 3px 5px;
    position: relative;
    top: -3px;
}

#add_container {
    display: none;
}
#add_container p {
    text-align:center;
}

#add_container #save {
    float: right;
}
#add_container #cancel {
    float: left;
}
#save {
    font-size:2em;
}

#toolbox {
    display:flex;
}
#toolbox > * {
    margin:auto;}

#cypher {
    font-size: 1.3em;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0px;
    margin:0px;
}

#cypher > * {
    position: relative;
    margin: auto;
    display:inline-block;
}

#notify > * {
    border: 1px rgb(0,144,0) solid;
    border-radius: 8px;
    margin:1px;
    margin-top:5px;
    margin-bottom:3px;
    padding:3px;
}
#notify div:hover {
    background-color: rgb(128,128,16);
}

#hourglass {
    display: none;
}